@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smooth; /* habilita a rolagem suave para a página */
}

body{
    font-family: 'Roboto', 'sans-serif';
    background-color: #f0f2f5;
    color: #333;
}
.container{
    display: grid;
    height: 100vh; /* Ocupa altura toda do viewport */
    grid-template-columns: 1fr; /* coluna única para começar */
    grid-template-rows: auto 1fr auto; /* Altura do cabeçalho, conteúdo principa e rodapé */
    grid-template-areas: "header" "main" "footer";
    gap: 20px; /* espaço entre elementos do grid */
    padding: 20px;
}
/* Atribui cada div à sua respectiva área nomeada */
.header{
    grid-area: header;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    /* grid para o conteúdo do cabeçalho */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "topo" "banner";
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}
.main{
    grid-area: main;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 5px;
    
    /* Atividade de Galeria: */
    /* padding: 20px; */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 100%;
    height: 100%;
}
.footer {
    grid-area: footer;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.topo{
    grid-area: topo;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: beige;
    border-radius: 8px;
    /* border-bottom: 1px solid #999; */
}
.logo{
    width: 100px;
    height: 100px;
    background-color: bisque;
    border-radius: 50%;
}
.nav{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;
    background-color: aquamarine;
    border-radius: 8px;
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}
.menu li{
    cursor: pointer;
    font-weight: bold;
}
.buscar{
    background-color: #aaa;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
}
.banner{
    grid-area: banner;
    background-color: chocolate;
    color: fff;
    border-radius: 8px;
    text-align: center;
}
.banner img{
    width: 100%;
    border-radius: 8px;
}

/* Atividade de Galeria */
.item{
    width: 100%;
    height: 100%;
    background-color: rebeccapurple;
    border-radius: 8px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */

    /* Ordem */
}
.item img{
    /* overflow: hidden;
    object-fit: cover; */
    width: 100%;
    height: 100%;
    border-radius: 8px;
}






























/* .topo{
    grid-area: topo;
    background-color: #607bff;
    margin-right: 20px;
}
.banner{
    grid-area: banner;
    background-color: cadetblue;
    padding: 20px;
}
.logo img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.logo{
    grid-area: logo;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    border-radius: 50%;
    margin-right: 20px;
}
.logo img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.nav{
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
}
.buscar{
    
} */








