@import url(reset.css);

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    min-height: 100%vh; /*Altura mínima: 100%vertical hate (altura disponível da tela) */
    display: flex;
    flex-direction: column; /* Organiza os filhos em uma coluna: header, main, footer; */
    background-color: #e65000;
    margin: 2px;  /* temporário somente para visualização */
}
.container{
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* ocupa todo o espaço vertical dentro do container */

}
header, 
footer{
    background-color: #34495e;
    padding: 20px;
    text-align: center;
    border: #fff;

    /* Atividade: aleatorizar os itens: */
}
main{
    background-color: #2c3e50;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 300px; /* temporário somente para visualização */

    /* Atividade: aleatorizar os itens: */
    flex-direction: column-reverse;

}
.item{
    background-color: #f39c12;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem; /* (32px) */
    /* Atividade: aleatorizar os itens: */
    margin: 0.5rem;
}

/* Atividade: aleatorizar os itens: */
.item-1{
    background-color: #e67e22;
    order: 3;
}
.item-2{
    background-color: #e67e32;
    order: 1;
}
.item-3{
    background-color: #e67e42;
}
.item-4{
    background-color: #e67e52;
}
.item-5{
    background-color: #e67e62;
}

