@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('../fonts/idroid.otf') format('opentype');
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    background-color: #84E1AD;
}
header {
    width: 100%;
    background-image: linear-gradient(to bottom, #3CDA84, #22613F);
    color: white;
    padding: 20px;
}
header > h1, 
header > h2 {
    text-align: center;
    color: white;
}
nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 15px;
    
}
nav > a:hover {
    /* background-image: linear-gradient(to bottom, #3cda8313, #1854330a); */
    box-shadow: 0px 7px 5px #00000042;
}
main {
    background-color: white;
    max-width: 1000px;
    padding: 1px 15px;
    margin: 0 auto;
    text-align: justify;
}
main > h1,
main > h2 {
    font-family: 'idroid';
    color: #22613F;
}
main > h2 {
    background-image: linear-gradient(to right, #3cda8362, white);
}
main > img {
    
}