@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('../fonts/idroid.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue-Regular.otf') format('opentype');
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'BebasNeue', cursive;
    --fonte-android: 'idroid', cursive;
}

* {
    font-family: var(--fonte-padrao);
    margin: 0px;
    padding: 0px;
}
body {
    /* max-width: 100%; */
    margin: 0;
    background-color: var(--cor0);
}
p {
    font-size: 1.2em;
    text-indent: 30px;
    margin: 15px 0px;
    line-height: 1.5em;
}
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    color: white;
    padding: 20px;
}
header > h1 {
    text-align: center;
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 4em;
    text-shadow: 2px 2px 0px rgb(0, 0, 0, 0.5);
    font-weight: normal;
}
header > p {
    text-align: center;
    color: white;
    font-size: 1.2em;
    max-width: 600px;
    padding: 20px;
    text-shadow: 2px 2px 0px rgb(0, 0, 0, 0.5);
    margin: auto;
    margin-bottom: 30px;
}
header > nav > a {
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    padding: 15px;
}
header > nav > a:hover {
    background-color: var(--cor3);
    box-shadow: 0px 7px 5px #00000042;
    color: var(--cor5);
    border-radius: 5px;
    transition-duration: 0.5s;
}
article {
    background-color: white;
    max-width: 1000px;
    min-width: 280px;
    margin: 0 auto;
    text-align: justify;
    padding: 1px 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
    border-radius: 0px 0px 10px 10px;
}
article > h1,
article > h2 {
    font-family: var(--fonte-android);
    color: var(--cor5);
    margin: 20px 0px;
    font-weight: normal;
    font-size: 1.8em;
}
article > h2 {
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
    font-size: 1.3;
}
article > picture > img {
    width: 100%;
}
article > img {
    display: block;
    margin: auto;
    max-width: 350px;
}
article > p > strong {
    color: var(--cor5);
}
aside div {
    width: 100%;
}
div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px 0px;

    position: relative;
    padding-bottom: 57%;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside {
    background-color: var(--cor1);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.219);
}
aside > h2 {
    background-color: var(--cor3);
    color: white;
    padding: 10px;
    margin: -15px -15px 0px -15px;
    border-radius: 20px 20px 0px 0px;
}
aside > p {
    font-size: 1.2em;
    text-indent: 30px;
}
aside > ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
}
p > a {
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 6px;

}
p > a:hover {
    text-decoration: underline;
    color: var(--cor4);
}
p > a::after {
content: '\00A0\1F517';
} 
footer {
    margin-top: 20px;
    background-color: var(--cor5);
    text-align: center;
    padding: 1px;
}
footer > p {
    color: white;
}